/aclocal.m4
/autom4te.cache/
/bin/
/cnf/
/config.log
/config.status
/configure
/include/config.h
/include/config.h.in
/include/config.h.in~
/include/stamp-h1
/libfunctions.a
/Makefile
/Makefile.in
/tables/qcatalog/
/tst/*.tmp

.deps/
.dirstamp
*.o

/gh-pages/
/tmp/
