<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Computer package CARAT</title>
    <meta name="keywords" content="CARAT, crystallographic groups" />
    <link rel="stylesheet" type="text/css" href="stylesheets/styles.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/pygment_trac.css">
    <script type="text/javascript"
      src="javascripts/scale.fix.js">
    </script>
    <script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/latest.js?config=TeX-MML-AM_CHTML' async></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.0/clipboard.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <script>new ClipboardJS('.btn');</script>
    <div class="wrapper">
      <header>
        <h1 class="header">CARAT</h1>
        <p class="header">Crystallographic AlgoRithms And Tables</p>
        <p class="header">Version {{site.data.release.version}}<br>
                          Released {{site.data.release.date}}</p>

        <ul>
          <li class="download"><a class="buttons" href="https://github.com/lbfm-rwth/carat/releases/download/v{{site.data.release.version}}/carat-{{site.data.release.version}}.tar.gz">Download .tar.gz</a></li>
          <li class="download"><a class="buttons" href="https://github.com/lbfm-rwth/carat/releases/download/v{{site.data.release.version}}/carat-{{site.data.release.version}}.tar.bz2">Download .tar.bz2</a></li>

          {% if site.github.repository_url %}
          <li><a class="buttons github" href="{{ site.github.repository_url }}">View On GitHub</a></li>
          {% else %}
          <li><a class="buttons github" href="https://github.com/lbfm-rwth/carat">View On GitHub</a></li>
          {% endif %}
          <li><a class="clean" href="doc/index.html">Manual</a></li>
        </ul>

        <p class="header">This project is maintained by
          <a class="header name" href="https://www.mathb.rwth-aachen.de/cms/MATHB/Der-Lehrstuhl/Team/Wissenschaftliche-Beschaeftigte/~rnsg/Dominik-Bernhardt/lidx/1/">Dominik Berhardt</a>
        </p>


      </header>
      <section>

          {{ content }}

      </section>
      <footer>
        <p><small>Hosted on <a href="https://pages.github.com">GitHub Pages</a>,
        based on <a href="https://github.com/gap-system/GitHubPagesForGAP">GitHubPagesForGAP</a>
        using the Dinky theme</small></p>
        <p><small><em>Last updated: {{ 'now' | date: "%Y-%m-%d %H:%M" }}</em></small></p>
      </footer>
    </div>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
		
  </body>
</html>
